.result-box {
    border: 2px solid lightgray;
    height: 100%;
    min-height: 720px;
    font-family: sans-serif;
    font-size: 13px;
    padding: 10px 20px;
    color: black;
    position: relative;

    .copy {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: initial;
    }

    .v-spinner {
        margin: 250px auto 0 auto;
    }

    .section-heading, .summary, .bold {
        font-weight: bold;
    }

    .summary {
        line-height: 15px;
    }

    .ticket {
        margin-bottom: 15px;

        .pending {
            margin-bottom: 0;
        }

        .ticket-comment {
            white-space: pre-wrap;
        }
    }
}