.result-box {
    border: 2px solid lightgray;
    height: 100%;
    font-family: sans-serif;
    font-size: 13px;
    padding: 10px 20px;
    color: black;

    .v-spinner {
        margin: 0 auto;
    }

    .section-heading, .summary {
        font-weight: bold;
    }
}