<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jira Reporter Web UI</title>
</head>
<body>
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Jira Reporter Web UI
            </h1>
            <h2 class="subtitle">
                Version 1.0.0
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container" id="app">
            <app></app>
        </div>
    </section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </div>
</footer>

<script src="/js/app.js"></script>
</body>
</html>
